
<div class="container text-center">
  <h1 class="text-center">{{title}}</h1>

  <form>
    <div class="mb-3">
      <label for="numero1" class="form-label">Número 1:</label>
      <input type="number" class="form-control w-50 mx-auto" name="numero1" [(ngModel)]="numero1" id="numero1">
    </div>

    <div class="mb-3">
      <label for="numero2" class="form-label">Número 2:</label>
      <input type="number" class="form-control w-50 mx-auto" name="numero2" [(ngModel)]="numero2" id="numero2">
    </div>

    <div class="mb-3">
      <button class="btn btn-success me-2 " (click)="sumar()" type="submit">Sumar</button>
      <button class="btn btn-danger me-2" (click)="restar()" type="submit">Restar</button>
      <button class="btn btn-warning me-2" (click)="multiplicar()" type="submit">Multiplicar</button>
      <button class="btn btn-primary" (click)="dividir()" type="submit">Dividir</button>
    </div>
  </form>

  <p class="fs-5 fw-bold">{{resultado}}</p>
</div>

